<h2>Welcome To Angular Data Binding</h2>
<div>
  <p>{{title}}</p>
  <p>Name : {{name}}</p>
  <p>Age : {{age}}</p>
  <p>Email : {{email}}</p>
  <p>Phone Number : {{phone_number}}</p>
  <p>Course : {{course}}</p>
  <p>Company : {{company}}</p> 
  <p>City : {{city}}</p>
  <p>Pincode : {{pincode}}</p>
</div>

<div>
  <app-button></app-button>
</div>

<div>
  <app-style-div></app-style-div>
</div>

<div>
  <app-event-binding></app-event-binding>
</div>

<div>
  <app-two-way-binding></app-two-way-binding>
</div>